@charset "utf-8";


html {
    font-size: 100%;
}

body {
    font-family: 'Zen Old Mincho', serif;
    background-image: url(../image/bg-img.jpg);
    background-repeat: repeat;
    background-position: center;


}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
}

.main-title {
    margin-bottom: 30px;
    padding-top: 50px;
    font-size: calc(30/16*1rem);
    text-align: center;
}

.main-title::after {
    content: url(../image/subtitle.png);
    vertical-align: bottom;
    position: relative;
    top: 8px;
    left: 8px;
}

.main-title::before {
    content: url(../image/subtitle.png);
    vertical-align: bottom;
    position: relative;
    top: 8px;
    right: 10px;
}

h3 {
    font-size: calc(24/16*1rem);

}

.text {
    padding: 50px 0;
    font-size: calc(20/16*1rem);
    line-height: 2em;
}

.jump {
    font-size: calc(18/16*1rem);
}

.jump:hover {
    opacity: .4;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;

}

.bg-w {
    background-color: #fff;
    height: 400px;
    width: 100%;
    padding: 50px;
    box-shadow: 0px 7px 10px 0px rgba(84, 84, 84, 0.4);
    margin-bottom: 20px;
}

/*背景*/
.spa {
    background-image: url(../image/on.png);
    background-position: top 10px right 10px;
}

.sauna {
    background-image: url(../image/yoku.png);
    background-position: top 10px right 10px;
}

.este {
    background-image: url(../image/iyasu.png);
    background-position: top 10px right 10px;
}

.food {
    background-image: url(../image/syoku.png);
    background-position: top 10px right 10px;
}

.yoga {
    background-image: url(../image/totonou.png);
    background-position: top 10px right 10px;
}

.sub-imgL,
.sub-imgR {
    width: 100%;
    height: auto;
}

.flex-boxU,
.flex-boxD {
    height: auto;
}

.header-box {
    background-color: #000;
    opacity: 0.8;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
}

.big-bg {
    background-image: url(../image/haikei.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
}

.text-box p {
    color: #fff;
    font-size: calc(22/16*1rem);
    font-weight: bolder;
}

.text-box {
    text-align: center;
    padding-top: 20px;

}

.logo_fadein {
    padding-top: 60px;
    margin: 0 auto;
    width: 400px;
    height: 400px;

}

h1 {
    width: 200px;
    height: 70px;
}

/*ページスクロール*/
/*リンクの形状*/
#page-top img {
    width: 40px;
    height: 45px;
}
#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background:#be9124;
	border-radius: 5px;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
	transition:all 0.3s;
}

#page-top a:hover{
	background: #777;
}

/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 30px;
	bottom:10px;
	z-index: 2;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(100px);
  }
}

/* 左右から出現 */
.sub-imgL,
.info-boxL {
    opacity: 0;
    transform: translate(-50%, 0);
    transition: 1.5s;

}

.sub-imgR,
.info-boxR {
    opacity: 0;
    transform: translate(50%, 0);
    transition: 1.5s;

}

.sub-imgL.on,
.info-boxL.on,
.sub-imgR.on,
.info-boxR.on {
    transform: translate(0, 0);
    opacity: 1;
}


/*ハンバーガーアイコン*/
/* .menu-btn-check {
    display: none;
  } */
@media (max-width:768px) {
    .menu-btn {
        /* position: fixed; */
        top: 10px;
        right: 10px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 100;
        background-color: #333;
    }

    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
    }

    .menu-btn span:before {
        bottom: 8px;
    }

    .menu-btn span:after {
        top: 8px;
    }

    #menu-btn-check:checked~.menu-btn span {
        background-color: rgba(255, 255, 255, 0);
        /*メニューオープン時は真ん中の線を透明にする*/
    }

    #menu-btn-check:checked~.menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    #menu-btn-check:checked~.menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    #menu-btn-check {
        display: none;
    }

    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 80;
        background-color: #333;
    }

    .menu-content ul {
        padding: 70px 10px 0;
    }

    .menu-content ul li {
        border-bottom: solid 1px #333;
        list-style: none;
    }

    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: calc(20/16*1rem);
        font-weight: bold;
        box-sizing: border-box;
        color: #333;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }

    .menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #333;
        border-right: solid 2px #333;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }

    .menu-content {
        width: 50%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        /*leftの値を変更してメニューを画面外へ*/
        z-index: 999;
        background-color: #fff;
        transition: all 0.5s;
        /*アニメーション設定*/
    }

    #menu-btn-check:checked~.menu-content {
        left: 0;
        /*メニューを画面内へ*/
    }
}

/*ボタン-------
-------------*/
.btn05 {
    /*線の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
    display: inline-block;
    font-size: calc(20/16*1rem);
    font-weight: bold;
    padding: 20px;
    color: #333;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #333;
    text-decoration: none;
    outline: none;
    margin-top: 50px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /*アニメーションの指定*/
    transition: all .3s;
    transition-delay: .7s;
    /*0.7秒遅れてアニメーション*/
}

/*hoverした際の、ボタンの背景とテキスト色の変更*/
.btn05:hover {
    background: #333;
    color: #fff;
}

/*線の設定*/
.btn05 span {
    display: block;
}

/*横線の設定*/
.btn05::before,
.btn05::after {
    content: "";
    /*絶対配置で線の位置を決める*/
    position: absolute;
    /*線の形状*/
    width: 0;
    height: 1px;
    background: #333;
    /*アニメーションの指定*/
    transition: all 0.2s linear;
}

/*縦線の設定*/
.btn05 span::before,
.btn05 span::after {
    content: "";
    /*絶対配置で線の位置を決める*/
    position: absolute;
    /*線の形状*/
    width: 1px;
    height: 0;
    background: #333;
    /*アニメーションの指定*/
    transition: all 0.2s linear;
}

/*hoverした際、線が縦横100%伸びる*/
.btn05:hover::before,
.btn05:hover::after {
    width: 100%;
}

.btn05:hover span::before,
.btn05:hover span::after {
    height: 100%;
}

/*== 左上と右下から枠線が伸びて塗に */

/*横線が0.2秒送れて出現*/

.bordercircle1::before {
    right: 0;
    top: 0;
    transition-delay: 0.2s;
}

.bordercircle1::after {
    left: 0;
    bottom: 0;
    transition-delay: 0.2s;
}

/*縦線が出現*/
.bordercircle1 span::before {
    left: 0;
    top: 0;
}

.bordercircle1 span::after {
    right: 0;
    bottom: 0;
}

/* .mv-box {
    max-width: 100%;
    height: 90vh;
} */

/*下らか出現*/
.element {
    /* 最初は非表示 */
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: opacity 1s, visibility 1s, transform 1s;
}

/*下らか出現*/
.elements {
    /* 最初は非表示 */
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: opacity 1s, visibility 1s, transform 1s;
}

/* フェードイン時に入るクラス */
.is-fadein {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

/* news */
.news {
    background-image: url(../image/line.png);
    background-size: 200px 30px;
    background-position: center bottom 30px;
    padding-bottom: 100px;
    background-color: #fff;
}

.newstitle {
    text-align: center;
    padding-top: 20px;
}

.dlbox {
    display: flex;
    font-size: calc(20/16*1rem);
    padding: 15px 0;
    border-bottom: 1px solid #000;
    max-width: 80%;
    margin: 0 auto;
}

dd {
    padding-left: 2em;
}

.sauna-box {
    margin-top: 50px;
}

.iconlist img {
    width: 50px;
    height: 50px;
}

.main-logo img {
    width: 200px;
    height: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

th,
td {
    border: 1px solid #bbb;
}

.open th,
.open tr {
    height: 100px;
}

.open th {
    font-size: calc(24/16*1rem);
    background-color: #ddd;
    text-align: left;
}

.open tr {
    font-size: calc(20/16*1rem);
    background-color: #fff;
    text-indent: 50px;
}

.sub-info {
    font-size: calc(20/16*1rem);
    font-weight: bold;
    margin: 30px 0 50px 30px;
}

caption {
    font-size: calc(24/16*1rem);
    font-weight: bold;
    text-align: left;
    text-indent: 1rem;
    margin-bottom: 20px;
}

.price-list th,
.price-list tr {
    height: 50px;
    font-size: calc(20/16*1rem);
}

.price-list th {
    background-color: #ddd;
}

.price-list tr {
    background-color: #fff;
}

.price-list td {
    text-align: right;
    padding-right: 1em;
}

/*アクセス*/
.adress {
    background-color: #fff;
    padding: 30px 0;

}

.adress-text {
    text-align: center;
}

.adress p {
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 20%;
}

.adress h3 {
    text-align: center;
    margin-bottom: 1.5rem;
}

iframe {
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

/*footer*/
footer {
    background-color: #000;
    height: auto;
    width: 100%;
    padding: 30px;
}


.fgnav,
.iconlist {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.fgnav a {
    color: #fff;

}

.fgnav li,
.iconlist li {
    padding: 0 10px;
}

footer p {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    padding-bottom: 30px;
}

@media (min-width:769px) {
    input {
        display: none;
    }

    .gnav-list {
        display: flex;
    }

    .gnav-item {
        margin-left: 50px;
    }

    .gnav-item a {
        color: #fff;
        font-size: calc(22/16*1rem);
    }

    .gnav-item a::after {
        content: "";
        width: 100%;
        height: 2px;
        display: block;
        background-color: #fff;
        transition: opacity 0.3s;
        opacity: 0;
    }

    .gnav-item a:hover::after {
        opacity: 1.0;
    }

    /* 画像・テキストボックス */
    .flex-boxU {
        flex-direction: row-reverse;
        display: flex;
    }

    .flex-boxD,
    .flex-boxU {
        display: flex;
    }

    .flex-boxD img,
    .flex-boxU img {
        width: 50%;
        height: 450px;
        box-shadow: 0px 7px 10px 0px rgba(84, 84, 84, 0.4);
    }

    .info-boxL,
    .info-boxR {
        width: 50%;
        height: 450px;
    }

    .adress-flex {
        display: flex;
        height: 450px;
        margin-bottom: 30px;
    }

    iframe {
        height: 450px;
    }

    .adress {
        width: 50%;
    }

    .footer-box {
        display: flex;
    }

    .fnav-box {
        padding-left: 20%;
    }

    .fgnav a {
        font-size: calc(20/16*1rem);
    }

    .fgnav a:hover,
    .iconlist a:hover {
        opacity: .4;
    }

    footer p {
        margin: 0;
        padding: 0;
    }

    .main-logo {
        padding-left: 30px;
    }

}
